.noIdeaMode * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}

body {
    background-color: #ffffff;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    width: 375px;
    overflow: none;
}

nav {
    overflow: hidden;
    background-color: #ffffff;
    z-index: 99;
    width: 100vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
}

nav a {
    display: -ms-grid;
    display: grid;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 35px;
}

nav a:first-child {
    height: 60px;
}

nav a:hover {
    background-color: #ddd;
    color: #009afe;
}

.imageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url("resources/wave-1913559_1920 1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 200px;
    min-width: 100vw;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.columnCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    color: white;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.rowCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100vw;
}

aside {
    position: relative;
    margin-top: 129px;
    height: 200px;
    width: 100vw;
}

.itemContainer {
    margin: 3%;
    min-width: 320px;
    position: relative;
    background-color: #f9f9f9;
    padding: 30px 0px;
}

.price {
    color: #BFBA00;
    font-size: 44px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 15px auto 30px auto;
}

.title {
    line-height: 42.19px;
    font-weight: 500;
    font-size: 36px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.priceText {
    font-weight: 500;
    line-height: 28.13px;
    font-size: 24px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: black;
}

.sectionButton {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 60px;
    border-radius: 5;
    background-color: #FC943E;
    border: 0px;
}

.logo {
    background-image: url("resources/Group 1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 38.75px;
    width: 60.07px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: block;
}

.logoContainer {
    width: 100%;
    height: 60px;
}

.darkOverlay {
    opacity: 0.3;
    background-color: #000000;
    width: 100%;
    height: 200px;
    position: absolute;
}

form {
    background-color: #FC943E;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100vw;
    min-height: 417px;
}

input {
    min-width: 320px;
    padding: 7.5px auto;
    margin: 7.5px auto;
    height: 40px;
    padding: 0 0 0 15px;
    border: none;
}

h2 {
    z-index: 3;
}

h4 {
    z-index: 3;
}

input[type=submit] {
    background-color: #BFBA00;
    min-width: 204px;
    height: 50px;
    border: none;
}

input[type=text] {
    height: 90px;
    -webkit-box-pack: top;
    -ms-flex-pack: top;
    justify-content: top;
}

.formTextDecoration {
    font-size: 36px;
    color: white;
}

footer {
    background-color: #000;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 88px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

#myBtn {
    background-image: url("resources/Group 16.png");
    background-size: 100% 100%;
    min-width: 30px;
    min-height: 30px;
    -ms-grid-column-align: center;
    justify-self: center;
    align-self: center;
    margin: 10px 0 0 0;
}

.footerStyle {
    padding: none;
    justify-content: center;
    align-items: center;
    align-self: center;
}

/*          TABLET     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media only screen and (min-width: 768px) {
    body {
        background-color: white;
    }
    .columnCenter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 100vw;
    }
    input {
        min-width: 420px;
        padding: 7.5px auto;
        margin: 7.5px auto;
    }
    form {
        width: 100vw;
        min-height: 411px;
    }
    nav {
        overflow: hidden;
        background-color: #ffffff;
        z-index: 99;
        width: 100vw;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        position: fixed;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 60px;
    }
    nav a {
        display: -ms-grid;
        display: grid;
        color: black;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 35px;
        width: 10%;
        margin: 10px;
    }
    nav a:first-child {
        min-width: 40%;
        justify-self: start;
        justify-content: left;
    }
    .columnCenter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .logo {
        background-image: url("resources/webskola logo.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-height: 38.75px;
        width: 248px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: block;
    }
    .imageContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: url("resources/wave-1913559_1920 1.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 200px;
        min-width: 100vw;
        position: relative;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    aside {
        position: relative;
        margin-top: 60px;
        height: 200px;
        width: 100vw;
    }
    input[type=submit] {
        background-color: #BFBA00;
        min-width: 204px;
        height: 50px;
        border: none;
        color: white;
    }
    .itemContainer {
        margin: 1%;
        min-width: 242px;
        position: relative;
        background-color: #f9f9f9;
        padding: 30px 0px;
    }
    input {
        min-width: 420px;
        padding: 7.5px auto;
        margin: 7.5px auto;
        height: 40px;
        padding: 0 0 0 15px;
        border: none;
    }
    input[type=text] {
        height: 90px;
        -webkit-box-pack: top;
        -ms-flex-pack: top;
        justify-content: top;
    }
    .formTextDecoration {
        font-size: 36px;
        color: white;
    }
    footer {
        background-color: #000;
        color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 88px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100vw;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
    #myBtn {
        background-image: url("resources/Group 16.png");
        background-size: cover;
        min-width: 30px;
        min-height: 30px;
        -ms-grid-column-align: center;
        justify-self: center;
        border: none;
        outline: none;
        cursor: pointer;
        float: right;
    }
    .footerStyle {
        width: 50%;
        padding-right: 100px;
        padding-left: 100px;
    }
}

/*          WINDOW     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media only screen and (min-width: 1366px) {
    body {
        background-color: white;
        min-width: 100vw;
    }
    nav {
        overflow: hidden;
        background-color: #ffffff;
        z-index: 99;
        width: 100vw;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        position: fixed;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 100px;
    }
    nav a {
        display: -ms-grid;
        display: grid;
        color: black;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 50%;
        width: 10%;
    }
    nav a:first-child {
        min-width: 60%;
        justify-self: start;
        justify-content: left;
    }
    .columnCenter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .logo {
        background-image: url("resources/webskola logo.png");
        background-repeat: no-repeat;
        min-height: 42px;
        min-width: 248.8px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: block;
    }
    .imageContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: url("resources/wave-1913559_1920 1.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 200px;
        min-width: 100vw;
        position: relative;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        top: 0;
    }
    form {
        width: 100vw;
        min-height: 413px;
    }
    input {
        min-width: 420px;
        
        margin: 7.5px auto;
        height: 40px;
        padding: 0 0 0 15px;
        border: none;
    }
    input[type=text] {
        height: 90px;
        -webkit-box-pack: top;
        -ms-flex-pack: top;
        align-self: top;
        text-align: top;
       top: 0 !important;
      

       
    }
    aside {
        position: relative;
        margin-top: 100px;
        height: 200px;
        width: 100vw;
    }
    input[type=submit] {
        background-color: #BFBA00;
        min-width: 204px;
        height: 50px;
        border: none;
        padding: 0;
        color: white;
    }
    .formTextDecoration {
        font-size: 36px;
        color: white;
    }
    .itemContainer {
        margin: 3%;
        min-width: 323px;
        position: relative;
        background-color: #f9f9f9;
        padding: 30px 0px;
    }
    footer {
        background-color: #000;
        color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 2;
        height: 88px;
        text-align: left;
       
    }
    #myBtn {
        background-image: url("resources/Group 16.png");
        background-size: 100% 100%;
        min-width: 30px;
        min-height: 30px;
        right: 100px;
    }
    .footerStyle {
        width: 50%;
        padding-right: 100px;
        padding-left: 100px;
    }
}